h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 130px;
    margin:0 auto;
}



